In [1]:
import utils.functions as fnc
base_api_url='https://oslo-bike-api-13322556367.europe-west1.run.app'

In [2]:
station_status = fnc.LocalStorage()

station_status_df = station_status.get_data(base_api_url+'/station_status', ['data','stations'])

In [3]:
station_status_df

,station_id,is_installed,can_rent,can_return,num_bikes_available,num_docks_available
0,658,1,1,0,13,0
1,139,1,1,1,31,2
2,121,1,1,1,25,3
3,383,1,1,1,7,3
4,302,1,1,1,3,28
5,177,1,1,1,20,3
6,738,1,0,1,0,15
7,663,1,1,1,9,5
8,636,1,1,1,12,2
9,109,1,1,0,16,0
10,880,1,0,1,0,17
11,403,1,1,0,13,0
12,180,1,1,1,17,2
13,392,1,1,1,15,5
14,346,1,1,0,15,0

In [4]:
bronze_df = station_status.load_to_bronze(station_status_df, 'station_status')

In [5]:
bronze_df

,station_id,is_installed,can_rent,can_return,num_bikes_available,num_docks_available,_ingestion_timestamp,_ingestion_date
0,658,1,1,0,13,0,2026-01-18 21:22:06.679935,2026-01-18
1,139,1,1,1,31,2,2026-01-18 21:22:06.679935,2026-01-18
2,121,1,1,1,25,3,2026-01-18 21:22:06.679935,2026-01-18
3,383,1,1,1,7,3,2026-01-18 21:22:06.679935,2026-01-18
4,302,1,1,1,3,28,2026-01-18 21:22:06.679935,2026-01-18
5,177,1,1,1,20,3,2026-01-18 21:22:06.679935,2026-01-18
6,738,1,0,1,0,15,2026-01-18 21:22:06.679935,2026-01-18
7,663,1,1,1,9,5,2026-01-18 21:22:06.679935,2026-01-18
8,636,1,1,1,12,2,2026-01-18 21:22:06.679935,2026-01-18
9,109,1,1,0,16,0,2026-01-18 21:22:06.679935,2026-01-18
10,880,1,0,1,0,17,2026-01-18 21:22:06.679935,2026-01-18
11,403,1,1,0,13,0,2026-01-18 21:22:06.679935,2026-01-18
12,180,1,1,1,17,2,2026-01-18 21:22:06.679935,2026-01-18
13,392,1,1,1,15,5,2026-01-18 21:22:06.679935,2026-01-18
14,346,1,1,0,15,0,2026-01-18 21:22:06.679935,2026-01-18

In [6]:
silver_df = station_status.transform_to_silver(bronze_df, 'station_status',
                                     transformations = station_status.transform_stations,
                                     quality_checks = station_status.quality_checks_1)

[SILVER] Quality check failures: ["Missing columns: ['name']"]

In [7]:
silver_df

,station_id,is_installed,can_rent,can_return,num_bikes_available,num_docks_available,_processed_timestamp
0,658,1,1,0,13,0,2026-01-18 21:22:06.842855
1,139,1,1,1,31,2,2026-01-18 21:22:06.842855
2,121,1,1,1,25,3,2026-01-18 21:22:06.842855
3,383,1,1,1,7,3,2026-01-18 21:22:06.842855
4,302,1,1,1,3,28,2026-01-18 21:22:06.842855
5,177,1,1,1,20,3,2026-01-18 21:22:06.842855
6,738,1,0,1,0,15,2026-01-18 21:22:06.842855
7,663,1,1,1,9,5,2026-01-18 21:22:06.842855
8,636,1,1,1,12,2,2026-01-18 21:22:06.842855
9,109,1,1,0,16,0,2026-01-18 21:22:06.842855
10,880,1,0,1,0,17,2026-01-18 21:22:06.842855
11,403,1,1,0,13,0,2026-01-18 21:22:06.842855
12,180,1,1,1,17,2,2026-01-18 21:22:06.842855
13,392,1,1,1,15,5,2026-01-18 21:22:06.842855
14,346,1,1,0,15,0,2026-01-18 21:22:06.842855

In [8]:
def aggregation_2(df):
        df = df[df['can_return']==1]      
        return df

In [9]:
gold_df = station_status.aggregate_to_gold(silver_df, 'station_status', aggregations=aggregation_2)

In [10]:
gold_df['station_status']

,station_id,is_installed,can_rent,can_return,num_bikes_available,num_docks_available
1,139,1,1,1,31,2
2,121,1,1,1,25,3
3,383,1,1,1,7,3
4,302,1,1,1,3,28
5,177,1,1,1,20,3
6,738,1,0,1,0,15
7,663,1,1,1,9,5
8,636,1,1,1,12,2
10,880,1,0,1,0,17
12,180,1,1,1,17,2
13,392,1,1,1,15,5

In [11]:
test = fnc.LocalStorage()
test.read_latest('gold', 'station_status')

,station_id,is_installed,can_rent,can_return,num_bikes_available,num_docks_available
0,139,1,1,1,31,2
1,121,1,1,1,25,3
2,383,1,1,1,7,3
3,302,1,1,1,3,28
4,177,1,1,1,20,3
5,738,1,0,1,0,15
6,663,1,1,1,9,5
7,636,1,1,1,12,2
8,880,1,0,1,0,17
9,180,1,1,1,17,2
10,392,1,1,1,15,5